{% extends "base.html" %}
{% block title %}
{{ post.title_tag }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
    {% if post.post_image %}
    <div>
    <img src="{{ post.post_image.url }}" width="200px">
    {{ post.body | safe }}
    </div>

    {% endif %}

    <div class="card" style="width: 18rem;">

    <form action="{%  url 'like_post' %}" method=post">
        {%  csrf_token %}
        <input type="hidden" value="{{ post.id }}" name=post_id">
{% if user.is_authenticated %}
        {% if user in post.likes.all %}
        <button> Dislike</button>
        {% else %}
        <Button>Like</Button>
        {% endif %}
    {% endif %}
    Who likes this post:
    <ul>
        { for person in Post
    </ul>

    </form>
  <div class="card-body">
    <h5 class="card-title">Author: {{ post  }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}